extends layout

block content
  h1= title
  p Welcome to #[em Wirebrary], a library app made by WiredGuitars@github.com. This is a CRUD app, meaning you can edit, add, and delete items as you see fit. It also lets you read dynamic information, for instance the content you see below is relational to a database. It uses Express and Node to manage a server, MongoDB to manage the database, and Pug.js to create the viewer interface.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
